A <span class="def">numerical semigroup $\Lambda$</span> is a subset of the non-negative integers $\{0,1,\ldots\}$ satisfying the following three conditions:
The integer 0 must be contained in $\Lambda$; the set $\Lambda$ may miss only a finite number of integers; and $a,b\in\Lambda$ implies that $a+b\in\Lambda$, i.e., $\Lambda$ is closed under addition.
A missing element of $\Lambda$ is called a <span class="def">gap</span>, and the number of gaps is referred to as the <span class="def">genus</span> of $\Lambda$.
The <span class="def">multiplicity</span> of $\Lambda$ is the smallest non-zero element in $\Lambda$.
The <span class="def">conductor</span> is the smallest element in $\Lambda$ that is larger than all gaps.
The <span class="def">embedding dimension</span> is the cardinality of a minimal system of generators of $\Lambda$.

<p>
The <span class="def">characteristic vector</span> of a semigroup is the infinite bitstring that has a 1-bit at position $i$ if and only if the integer $i$ is contained in the group. We visualize the characteristic vector by colored boxes with 0=gray (gap) and 1=red (non-gap). For instance, the semigroup $\Lambda=\{0,5,8,9,10,12,13,14,15,16,\ldots\}$ has characteristic vector $10000100111011111\ldots$ which is visualized as
<svg width='205' height='13' viewBox='-0.5 -0.5 205 13'><style>.r{stroke:black;stroke-width:1}</style><rect class='r' x='0' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='60' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='72' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='84' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='96' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='108' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='120' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='132' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='144' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='156' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='168' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='180' y='0' width='12' height='12' style='fill:red'/><rect class='r' x='192' y='0' width='12' height='12' style='fill:red'/></svg>...

<p>
The algorithm running on this website is due to Bras-Amor&oacute;s and Fern&aacute;ndez-Gonz&aacute;lez (see [BA08], [Kap17], [BAFG18], [BAFG20]), and it generates numerical semigroups in lexicographic order of their characteristic vectors by a tree-based approach.
