<ul id="refs">
<li>[BD97] G. Brinkmann and A. W. M. Dress. A constructive enumeration of fullerenes. J. Algorithms, 23(2):345–358, 1997.</li>
<li>[BGM12] G. Brinkmann, J. Goedgebeur, and B. D. McKay. The generation of fullerenes. Journal of Chemical Information and Modeling, 52(11):2910–2918, 2012.</li>
</ul>