By forbidding certain subsets of the eight aforementioned patterns $\{1,\ldots,8\}$ in generic rectangulations, we obtain rectangulation classes that are counted by the following OEIS sequences.
This list shows the subset of forbidden patterns (omitting commas and curly brackets) and the corresponding sequence number.
Items marked with ? are conjecturally, and so far have only been observed experimentally.
Most combinations of patterns do not appear in the OEIS yet.

<ul class="enum">
<li>none: <a href="http://oeis.org/A342141">OEIS A342141</a> (generic rectangulations [Rea12])</li>
<li>3: <a href="http://oeis.org/A117106">OEIS A117106</a> ?</li>
<li>34: <a href="http://oeis.org/A001181">OEIS A001181</a> (diagonal rectangulations [CSS18])</li>
<li>134 / 136 / 145: <a href="http://oeis.org/A000139">OEIS A000139</a> ?</li>
<li>345: <a href="http://oeis.org/A281784">OEIS A281784</a> ?</li>
<li>1234: <a href="http://oeis.org/A006318">OEIS A006318</a> (slicing floorplans [YCCG03])</li>
<li>12345: <a href="http://oeis.org/A106228">OEIS A106228</a> ?</li>
<li>123456: <a href="http://oeis.org/A078482">OEIS A078482</a> (1-sided guillotine rectangulations [AM10])</li>
<li>123457: <a href="http://oeis.org/A033321">OEIS A033321</a> ?</li>
<li>345678: <a href="http://oeis.org/A000984">OEIS A000984</a> ? (central binomial coefficients)</li>
<li>1345678: <a href="http://oeis.org/A026029">OEIS A026029</a> ?</li>
<li>12345678: <a href="http://oeis.org/A006012">OEIS A006012</a> ?</li>
</ul>

By doing the same for block-aligned rectangulations as a base class (instead of generic rectangulations), we obtain the following list.

<ul class="enum">
<li>none: <a href="http://oeis.org/A214358">OEIS A214358</a> (block-aligned rectangulations [ABBM+13])</li>
<li>12: <a href="http://oeis.org/A078482">OEIS A078482</a> (block-aligned guillotine rectangulations [ABBM+13])</li>