[<a href="../../code/middle/middle.zip">Zipped C++ source code for the [MN17] algorithm with no symmetry (GNU GPL)</a>]<br>
[<a href="../../code/knuth/knuth.zip">Zipped C++ source code for the [MMM20] algorithm with $(2n+1)$-fold symmetry (GNU GPL)</a>]