<table id="input">
<tr>
<td>Size $n$ of ground set</td>
<td><input type="text" id="n" value="5" size="3" maxlength="3"/> (max. 12)</td>
</tr>
<tr>
<td>Forbidden patterns<br>(max. length 6 for each)</td>
<td><textarea id="p" rows="4" cols="40" maxlength="500"></textarea></td>
</tr>
<tr>
<td>Predefined inputs</td>
<td>
<select id="ps" autocomplete="off" onchange="pchange()">
  <option value="0">&ndash;none&ndash;</option>
  <option value="1" selected>231</option>
  <option value="2">13_2</option>
  <option value="3">132 & 231 (no peaks)</option>
  <option value="4">2143 (vexillary)</option>
  <option value="5">2143 & 3412 (skew-merged)</option>
  <option value="6">2143 & 2413 & 3142 & 3412 (X-shaped)</option>
  <option value="7">2413 & 3142 (separable)</option>
  <option value="8">24_13 & 31_42 (Baxter)</option>
  <option value="9">24_13 & 34_12 (twisted Baxter)</option>
  <option value="10">21_43 & 31_42</option>
  <option value="11">21_43 & 34_12</option>
  <option value="12">2413 & 3142 & 2143 & 3412</option>
  <option value="13">2413 & 3142 & 21_43 & 34_12</option>
  <option value="14">24_13 & 31_42 & 21_43 & 34_12</option>
  <option value="15">35_124 & 35_142 & 245_13 & 425_13 (2-clumped)</option>
  <option value="16">3b142 & 241b3</option>
  <option value="17">[2143]</option>
  <option value="18">231:0100 0100 1111 0100</option>
  <option value="19">132 | 231</option>
  <option value="20">(24_13 & 31_42) | 231</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
<td></td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function pchange()
{
  var selp = document.getElementById("ps");
  var inpp = document.getElementById("p");
  switch(selp.options[selp.selectedIndex].value) {
    case "0": inpp.value = ""; break;
    case "1": inpp.value = "231"; break;
    case "2": inpp.value = "13_2"; break;
    case "3": inpp.value = "132 & 231"; break;
    case "4": inpp.value = "2143"; break;
    case "5": inpp.value = "2143 & 3412"; break;
    case "6": inpp.value = "2143 & 2413 & 3142 & 3412"; break;
    case "7": inpp.value = "2413 & 3142"; break;
    case "8": inpp.value = "24_13 & 31_42"; break;
    case "9": inpp.value = "24_13 & 34_12"; break;
    case "10": inpp.value = "21_43 & 31_42"; break;
    case "11": inpp.value = "21_43 & 34_12"; break;
    case "12": inpp.value = "2413 & 3142 & 2143 & 3412"; break;
    case "13": inpp.value = "2413 & 3142 & 21_43 & 34_12"; break;
    case "14": inpp.value = "24_13 & 31_42 & 21_43 & 34_12"; break;
    case "15": inpp.value = "35_124 & 35_142 & 245_13 & 425_13"; break;
    case "16": inpp.value = "3b142 & 241b3"; break;
    case "17": inpp.value = "[2143]"; break;
    case "18": inpp.value = "231:0100 0100 1111 0100"; break;
    case "19": inpp.value = "132 | 231"; break;
    case "20": inpp.value = "(24_13 & 31_42) | 231"; break;
  }
}

function run()
{
  enlarge_output();
  output_buttons();
  var selfmt = document.getElementById("fmt");  
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&n=" + document.getElementById("n").value  
            + "&p=" + encodeURIComponent(document.getElementById("p").value)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> pchange(); </script>