<ul id="refs">
<li>[Gra53] F. Gray. Pulse code communication, 1953. March 17, 1953 (filed Nov. 1947). U.S. Patent 2,632,058.</li>
<li>[SWW17] J. Sawada, A. Williams, and D. Wong. Necklaces and Lyndon words in colexicographic and binary reflected Gray code order. J. Discrete Algorithms, 46/47:25–35, 2017.</li>
<li> [SWW22] J. Sawada, A. Williams, and D. Wong. Flip-swap languages in binary reflected Gray code order. Theoret. Comput. Sci., 933:138–148, 2022.</li>
<li> [Vaj08] V. Vajnovszki. More restrictive Gray codes for necklaces and Lyndon words. Inform. Process. Lett., 106(3):96–99, 2008.</li>
</ul>
