The number of $k$-ary trees with $n$ vertices is $t_{n,k}=\frac{1}{(k-1)n+1}\binom{kn}{n}$, which are the $k$-Catalan numbers (<a href="http://oeis.org/A062993">OEIS A062993</a>).
The number of pairs of ternary trees with $n$ vertices in total is $t_{n,3}'=\frac{1}{n+1}\binom{3n+1}{n}$ (<a href="http://oeis.org/A006013">OEIS A006013</a>).

<p>
The number of colorful triangulations of a convex $N$-gon is $2^q \cdot t_{q,3}=\frac{2^q}{2q+1} \binom{3q}{q}$ if $N=2q+2$ and $2^q\cdot t_{q,3}'=\frac{2^q}{q+1}\binom{3q+1}{q}$ if $N=2q+3$ ($q$ is the number of quadrangles obtained from removing the monochromatic edges), which are the sequences <a href="http://oeis.org/A153231">OEIS A153231</a> and <a href="http://oeis.org/A369510">OEIS A369510</a>, respectively.
The factor $2^q$ expresses the fact that with $q$ quadrangles, there are $2^q$ ways of placing the monochromatic edges, 2 choices in each quadrangle.