<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="t" autocomplete="off" onchange="achange()">
<option value="1" selected>k-ary trees</option>
<option value="2">colorful triangulations</option>
</select>
</td>
</tr>
<tr id="ntree">
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="5" size="2" maxlength="2"/> (max. 10)</td>
</tr>
<tr id="npoly" style="display:none">
<td>Number $N$ of points</td>
<td><input type="text" id="N" value="8" size="2" maxlength="2"/> (between 8 and 20)</td>
</tr>
<tr id="arity">
<td>Arity $k$ </td>
<td>
<select id="k" autocomplete="off">
  <option value="2" selected>2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</td>
</tr>
<tr id="cyclic">
<td>Cyclic</td><td><input type="checkbox" id="c"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function achange()
{
  var selt = document.getElementById("t");
  var trntree = document.getElementById("ntree");
  var trnpoly = document.getElementById("npoly");
  var trarity = document.getElementById("arity");
  var trcyclic = document.getElementById("cyclic");
  var object = selt.options[selt.selectedIndex].value

  if (object == 1) {
    trntree.style.display = "";
    trarity.style.display = "";
    trnpoly.style.display = "none";
    trcyclic.style.display = "";
  } else {
    trntree.style.display = "none";
    trarity.style.display = "none";
    trnpoly.style.display = "";
    trcyclic.style.display = "none";
  }
}
  
function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var selk = document.getElementById("k");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&t=" + selt.options[selt.selectedIndex].value
 	          + "&n=" + document.getElementById("n").value
            + "&k=" + selk.options[selk.selectedIndex].value
 	          + "&N=" + document.getElementById("N").value
            + "&c=" + (document.getElementById("c").checked ? "1" : "0")
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
