<table id="input">
<tr>
<td>Input graph</td>
<td><textarea id="g" rows="5" cols="40" maxlength="2000"></textarea></td>
</tr>
<tr>
<td>Predefined inputs</td>
<td>
<select id="gs" autocomplete="off" onchange="gchange()">
  <option value="0">&ndash;none&ndash;</option>
  <option value="1" selected>example G</option>
  <option value="2">path P5</option>
  <option value="3">complete graph K5</option>
  <option value="4">star S5</option>
  <option value="5">5 disjoint edges</option>
  <option value="6">3 disjoint edges + triangle</option>
  <option value="7">split graph 2,3</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
<td></td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function gchange()
{
  var selg = document.getElementById("gs");
  var inpg = document.getElementById("g");
  switch(selg.options[selg.selectedIndex].value) {
    case "0": inpg.value = ""; break;
    case "1": inpg.value = "a,d; d,f; a,b; a,c; b,c; c,e"; break;
    case "2": inpg.value = "1,2; 2,3; 3,4; 4,5"; break;
    case "3": inpg.value = "1,2; 1,3; 1,4; 1,5; 2,3; 2,4; 2,5; 3,4; 3,5; 4,5"; break;
    case "4": inpg.value = "c,2; c,3; c,4; c,5"; break;
    case "5": inpg.value = "a0,a1; b0,b1; c0,c1; d0,d1; e0,e1"; break;
    case "6": inpg.value = "a0,a1; b0,b1; c0,c1; a,b; b,c; a,c"; break;
    case "7": inpg.value = "a,b; a,1; a,2; a,3; b,1; b,2; b,3"; break;
  }
}

function run()
{
  enlarge_output();
  output_buttons();
  var selfmt = document.getElementById("fmt");  
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&g=" + encodeURIComponent(document.getElementById("g").value)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> gchange(); </script>