<h1>Irreducible polynomials over $GF(4)$ with given trace and subtrace</h1>

Let $p(x)$ be a polynomial of degree $n$.
The <span class="def">trace</span> of $p(x)$ is the coefficient of $x^{n-1}$.
The <span class="def">subtrace</span> of $p(x)$ is the coefficient of $x^{n-2}$.
Below we use $a=\operatorname{root}(x^2+x+1)$ and $b=1+a$. 

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="16">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<th class="special">(0,0)<th class="special">(0,1)<br>(0,$a$)<br>(0,$b$)</th>
<th class="special">(1,0)<br>($a$,0)<br>($b$,0)
<th class="special">(1,1)<br>($a$,$b$)<br>($b$,$a$)</th>
<th class="special">(1,$a$)<br>(1,$b$)<br>($a$,1)<br>($a$,$a$)<br>($b$,1)<br>($b$,$b$)</th>
<tr><th class="special" align="right">1</th>
<td align="right">1<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<tr><th class="special" align="right">2</th>
<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">1
<tr><th class="special" align="right">3</th>
<td align="right">2<td align="right">1
<td align="right">1<td align="right">2<td align="right">1
<tr><th class="special" align="right">4</th>
<td align="right">0<td align="right">4
<td align="right">4<td align="right">4<td align="right">4
<tr><th class="special" align="right">5</th>
<td align="right">15<td align="right">12
<td align="right">15<td align="right">12<td align="right">12
<tr><th class="special" align="right">6</th>
<td align="right">40<td align="right">40
<td align="right">40<td align="right">40<td align="right">45
<tr><th class="special" align="right">7</th>
<td align="right">153<td align="right">144
<td align="right">144<td align="right">153
<td align="right">144
<tr><th class="special" align="right">8</th>
<td align="right">480<td align="right">512
<td align="right">512<td align="right">512
<td align="right">512
<tr><th class="special" align="right">9</th>
<td align="right">1841<td align="right">1813
<td align="right">1841<td align="right">1813
<td align="right">1813
<tr><th align="center" class="special">10</th>
<td align="right">6528<td align="right">6528
<td align="right">6528<td align="right">6528
<td align="right">6579
<tr><th align="center" class="special">11</th>
<td align="right">23901<td align="right">23808
<td align="right">23808<td align="right">23901
<td align="right">23808
<tr><th align="center" class="special">12</th>
<td align="right">87040<td align="right">87380
<td align="right">87380<td align="right">87380
<td align="right">87380
<tr><th align="center" class="special">13</th>
<td align="right">322875<td align="right">322560
<td align="right">322875<td align="right">322560
<td align="right">322560
<tr><th align="center" class="special">14</th>
<td align="right">1198080<td align="right">1198080
<td align="right">1198080<td align="right">1198080
<td align="right">1198665
<tr><th align="center" class="special">15</th>
<td align="right">4474738<td align="right">4473647
<td align="right">4473647<td align="right">4474738
<td align="right">4473647
<tr><th align="center" class="special">16</th>
<td align="right">16773120<td align="right">16777216
<td align="right">16777216<td align="right">16777216
<td align="right">16777216
</table>

<h2>Examples</h2>
Monic irreducible polynomials over $GF(4)$ of degree $n=2$.
Let $r =\operatorname{root}(x^2+x+a)$.
Then $r^4=r+1$.

<p>
<table class="data"><tr>
<td>(trace,subtrace)
<td>
<tr>
<td>(1,$a$)
<td>$x^2+x+a=(x+r)(x+r+1)$
<tr>
<td>(1,$b$)
<td>$x^2+x+b=(x+r+a)(x+r+b)$
<tr>
<td>($a$,1)
<td>$x^2+ax+1=(x+ar)(x+ar+a)$
<tr>
<td>($a$,$a$)
<td>$x^2+ax+a=(x+ar+1)(x+ar+b)$
<tr>
<td>($b$,1)
<td>$x^2+bx+1=(x+br+1)(x+br+a)$
<tr>
<td>($b$,$b$)
<td>$x^2+bx+b=(x+br)(x+br+b)$
</table>


<p>
Monic irreducible polynomials over GF(4) of degree $n=3$.

<p>
<table class="data"><tr>
<td>(trace,subtrace)
<td>
<td>
<tr>
<td>(0,0)
<td>$x^3+a$
<td>$x^3+b$
<tr>
<td>(0,1)
<td>$x^3+x+1$
<tr>
<td>(0,$a$)
<td>$x^3+ax+1$
<tr>
<td>(0,$b$)
<td>$x^3+bx+1$
<tr>
<td>(1,0)
<td>$x^3+x^2+1$
<tr>
<td>(1,1)
<td>$x^3+x^2+x+a$
<td>$x^3+x^2+x+b$
<tr>
<td>(1,$a$)
<td>$x^3+x^2+ax+b$
<tr>
<td>(1,$b$)
<td>$x^3+x^2+bx+a$
<tr>
<td>($a$,0)
<td>$x^3+ax^2+1$
<tr>
<td>($a$,1)
<td>$x^3+ax^2+x+b$
<tr>
<td>($a$,$a$)
<td>$x^3+ax^2+ax+a$
<tr>
<td>($a$,$b$)
<td>$x^3+ax^2+bx+a$
<td>$x^3+ax^2+bx+b$
<tr>
<td>($b$,0)
<td>$x^3+bx^2+1$
<tr>
<td>($b$,1)
<td>$x^3+bx^2+x+a$
<tr>
<td>($b$,$a$)
<td>$x^3+bx^2+ax+a$
<td>$x^3+bx^2+ax+b$
<tr>
<td>($b$,$b$)
<td>$x^3+bx^2+bx+b$
</table>

<p>
<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
Column (0,0) is <a href="http://oeis.org/A074031">OEIS A074031</a>.
<li>
Column (0,1),(0,$a$),(0,$b$) is <a href="http://oeis.org/A074032">OEIS A074032</a>.
<li>
Column (1,0),($a$,0),($b$,0) is <a href="http://oeis.org/A074033">OEIS A074033</a>.
<li>
Column (1,1),($a$,$b$),($b$,$a$) is <a href="http://oeis.org/A074034">OEIS A074034</a>.
<li>
Column (1,$a$),(1,$b$),($a$,1),($a$,$a$),($b$,1),($b$,$b$) is <a href="http://oeis.org/A074035">OEIS A074035</a>.
</ul>

Data source: Entries for $n=1,2,...,9$ were done by exhaustive Maple program (also $n=10$ entries (0,$x$)).
For $n$ odd entries match corresponding entries on the <a href="TSlyndonF4">Lyndon words over $GF(4)$ page</a> via a theorem of Miers and Ruskey.
Some of the others are educated guesses.