<h1>6-ary words with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2\ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=6$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a $k$-ary word is the sum of its digits mod $k$, i.e., $t=a_1+a_2+\cdots+a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="24">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(0,3)
<td class="special" align="center">(0,4)
<td class="special" align="center">(0,5)
<td class="special" align="center">(1,0)<br>(5,0)
<td class="special" align="center">(1,1)<br>(5,1)
<td class="special" align="center">(1,2)<br>(5,2)
<td class="special" align="center">(1,3)<br>(5,3)
<td class="special" align="center">(1,4)<br>(5,4)
<td class="special" align="center">(1,5)<br>(5,5)
<td class="special" align="center">(2,0)<br>(4,0)
<td class="special" align="center">(2,1)<br>(4,1)
<td class="special" align="center">(2,2)<br>(4,2)
<td class="special" align="center">(2,3)<br>(4,3)
<td class="special" align="center">(2,4)<br>(4,4)
<td class="special" align="center">(2,5)<br>(4,5)
<td class="special" align="center">(3,0)
<td class="special" align="center">(3,1)
<td class="special" align="center">(3,2)
<td class="special" align="center">(3,3)
<td class="special" align="center">(3,4)
<td class="special" align="center">(3,5)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">1<td align="right">0<td align="right">2
<td align="right">1<td align="right">0<td align="right">2
<td align="right">4<td align="right">0<td align="right">0
<td align="right">0<td align="right">2<td align="right">0
<td align="right">2<td align="right">1<td align="right">0
<td align="right">2<td align="right">1<td align="right">0
<td align="right">2<td align="right">0<td align="right">4
<td align="right">0<td align="right">0<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">3<td align="right">0<td align="right">6
<td align="right">9<td align="right">0<td align="right">18
<td align="right">9<td align="right">3<td align="right">9
<td align="right">3<td align="right">9<td align="right">3
<td align="right">3<td align="right">9<td align="right">3
<td align="right">9<td align="right">3<td align="right">9
<td align="right">9<td align="right">0<td align="right">18
<td align="right">3<td align="right">0<td align="right">6
<tr><th align="center" class="special">4</th>
<td align="right">18<td align="right">36<td align="right">24
<td align="right">54<td align="right">12<td align="right">72
<td align="right">36<td align="right">24<td align="right">48
<td align="right">36<td align="right">24<td align="right">48
<td align="right">18<td align="right">36<td align="right">24
<td align="right">54<td align="right">12<td align="right">72
<td align="right">36<td align="right">24<td align="right">48
<td align="right">36<td align="right">24<td align="right">48
<tr><th align="center" class="special">5</th>
<td align="right">126<td align="right">300<td align="right">180
<td align="right">210<td align="right">180<td align="right">300
<td align="right">180<td align="right">210<td align="right">180
<td align="right">300<td align="right">126<td align="right">300
<td align="right">180<td align="right">210<td align="right">180
<td align="right">300<td align="right">126<td align="right">300
<td align="right">126<td align="right">300<td align="right">180
<td align="right">210<td align="right">180<td align="right">300
<tr><th align="center" class="special">6</th>
<td align="right">1008<td align="right">1440<td align="right">1440
<td align="right">1008<td align="right">1440<td align="right">1440
<td align="right">972<td align="right">1620<td align="right">972
<td align="right">1620<td align="right">972<td align="right">1620
<td align="right">1296<td align="right">1296<td align="right">1296
<td align="right">1296<td align="right">1296<td align="right">1296
<td align="right">756<td align="right">1800<td align="right">1080
<td align="right">1260<td align="right">1080<td align="right">1800
<tr><th align="center" class="special">7</th>
<td align="right">8100<td align="right">7056<td align="right">9072
<td align="right">6300<td align="right">9072<td align="right">7056
<td align="right">6300<td align="right">9072<td align="right">7056
<td align="right">8100<td align="right">7056<td align="right">9072
<td align="right">8100<td align="right">7056<td align="right">9072
<td align="right">6300<td align="right">9072<td align="right">7056
<td align="right">6300<td align="right">9072<td align="right">7056
<td align="right">8100<td align="right">7056<td align="right">9072
<tr><th align="center" class="special">8</th>
<td align="right">52488<td align="right">42336<td align="right">50544
<td align="right">40824<td align="right">54432<td align="right">39312
<td align="right">44928<td align="right">46656<td align="right">48384
<td align="right">44928<td align="right">46656<td align="right">48384
<td align="right">50544<td align="right">40824<td align="right">54432
<td align="right">39312<td align="right">52488<td align="right">42336
<td align="right">46656<td align="right">48384<td align="right">44928
<td align="right">46656<td align="right">48384<td align="right">44928
<tr><th align="center" class="special">9</th>
<td align="right">297432<td align="right">272160<td align="right">286416
<td align="right">262440<td align="right">308448<td align="right">252720
<td align="right">297432<td align="right">262440<td align="right">297432
<td align="right">262440<td align="right">297432<td align="right">262440
<td align="right">297432<td align="right">262440<td align="right">297432
<td align="right">262440<td align="right">297432<td align="right">262440
<td align="right">297432<td align="right">272160<td align="right">286416
<td align="right">262440<td align="right">308448<td align="right">252720
<tr><th align="center" class="special">10</th>
<td align="right">1679616<td align="right">1700352<td align="right">1658880
<td align="right">1679616<td align="right">1700352<td align="right">1658880
<td align="right">1784592<td align="right">1594080<td align="right">1762560
<td align="right">1574640<td align="right">1806624<td align="right">1555200
<td align="right">1679616<td align="right">1700352<td align="right">1658880
<td align="right">1679616<td align="right">1700352<td align="right">1658880
<td align="right">1784592<td align="right">1594080<td align="right">1762560
<td align="right">1574640<td align="right">1806624<td align="right">1555200
</table>

<h2>Examples</h2> 

The two 6-ary strings of trace 0, subtrace 2 and length 2 are $\{24, 42\}$.
The two 6-ary strings of trace 5, subtrace 4 and length 2 are $\{14, 41\}$.
The three 6-ary strings of trace 1, subtrace 5 and length 3 are $\{115, 151, 511\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum"> 
<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\begin{align}
S(n;t,s) &= S(n-1;t,s) + S(n-1;t-1,s-(t-1)) + S(n-1;t-2,s-2(t-2)) + S(n-1;t-3,s-3(t-3)) + S(n-1;t-4,s-4(t-4)) + S(n-1;t-5,s-5(t-5)) \\
         &= S(n-1;t,s) + S(n-1;t+5,s+5t+1) + S(n-1;t+4,s+4t+4) + S(n-1;t+3,s+3t+3) + S(n-1;t+2,s+2t+2) + S(n-1;t+1,s+t+1).
\end{align}

<li>
Column (0,0) is <a href="http://oeis.org/A073971">OEIS A073971</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A073972">OEIS A073972</a>.
<li>
Column (0,2) is <a href="http://oeis.org/A073973">OEIS A073973</a>.
<li>
Column (0,3) is <a href="http://oeis.org/A073974">OEIS A073974</a>.
<li>
Column (0,4) is <a href="http://oeis.org/A073975">OEIS A073975</a>.
<li>
Column (0,5) is <a href="http://oeis.org/A073976">OEIS A073976</a>.
<li>
Column (1,0),(5,0) is <a href="http://oeis.org/A073977">OEIS A073977</a>.
<li>
Column (1,1),(5,1) is <a href="http://oeis.org/A073978">OEIS A073978</a>.
<li>
Column (1,2),(5,2) is <a href="http://oeis.org/A073979">OEIS A073979</a>.
<li>
Column (1,3),(5,3) is <a href="http://oeis.org/A073980">OEIS A073980</a>.
<li>
Column (1,4),(5,4) is <a href="http://oeis.org/A073981">OEIS A073981</a>.
<li>
Column (1,5),(5,5) is <a href="http://oeis.org/A073982">OEIS A073982</a>.
<li>
Column (2,0),(4,0) is <a href="http://oeis.org/A073983">OEIS A073983</a>.
<li>
Column (2,1),(4,1) is <a href="http://oeis.org/A073984">OEIS A073984</a>.
<li>
Column (2,2),(4,2) is <a href="http://oeis.org/A073985">OEIS A073985</a>.
<li>
Column (2,3),(4,3) is <a href="http://oeis.org/A073986">OEIS A073986</a>.
<li>
Column (2,4),(4,4) is <a href="http://oeis.org/A073987">OEIS A073987</a>.
<li>
Column (2,5),(4,5) is <a href="http://oeis.org/A073988">OEIS A073988</a>.
<li>
Column (3,0) is <a href="http://oeis.org/A073989">OEIS A073989</a>.
<li>
Column (3,1) is <a href="http://oeis.org/A073990">OEIS A073990</a>.
<li>
Column (3,2) is <a href="http://oeis.org/A073991">OEIS A073991</a>.
<li>
Column (3,3) is <a href="http://oeis.org/A073992">OEIS A073992</a>.
<li>
Column (3,4) is <a href="http://oeis.org/A073993">OEIS A073993</a>.
<li>
Column (3,5) is <a href="http://oeis.org/A073994">OEIS A073994</a>.
</ul>