<h1>Strings over $GF(2)$ with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(2)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s = \sum_{1\leq i\lt j\leq n} a_i a_j$. 
Note that $GF(2) = \mathbb{Z}_2$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="4">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(1,0)
<td class="special" align="center">(1,1)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">1
<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">1<td align="right">1<td align="right">2
<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">1<td align="right">3<td align="right">3
<td align="right">1
<tr><th align="center" class="special">4</th>
<td align="right">2<td align="right">6<td align="right">4
<td align="right">4
<tr><th align="center" class="special">5</th>
<td align="right">6<td align="right">10<td align="right">6
<td align="right">10
<tr><th align="center" class="special">6</th>
<td align="right">16<td align="right">16<td align="right">12
<td align="right">20
<tr><th align="center" class="special">7</th>
<td align="right">36<td align="right">28<td align="right">28
<td align="right">36
<tr><th align="center" class="special">8</th>
<td align="right">72<td align="right">56<td align="right">64
<td align="right">64
<tr><th align="center" class="special">9</th>
<td align="right">136<td align="right">120<td align="right">136
<td align="right">120
<tr><th align="center" class="special">10</th>
<td align="right">256<td align="right">256<td align="right">272
<td align="right">240
<tr><th align="center" class="special">11</th>
<td align="right">496<td align="right">528<td align="right">528
<td align="right">496
<tr><th align="center" class="special">12</th>
<td align="right">992<td align="right">1056<td align="right">1024
<td align="right">1024
<tr><th align="center" class="special">13</th>
<td align="right">2016<td align="right">2080<td align="right">2016
<td align="right">2080
<tr><th align="center" class="special">14</th>
<td align="right">4096<td align="right">4096<td align="right">4032
<td align="right">4160
<tr><th align="center" class="special">15</th>
<td align="right">8256<td align="right">8128<td align="right">8128
<td align="right">8256
<tr><th align="center" class="special">16</th>
<td align="right">16512<td align="right">16256<td align="right">16384
<td align="right">16384
<tr><th align="center" class="special">17</th>
<td align="right">32896<td align="right">32640<td align="right">32896
<td align="right">32640
<tr><th align="center" class="special">18</th>
<td align="right">65536<td align="right">65536<td align="right">65792
<td align="right">65280
<tr><th align="center" class="special">19</th>
<td align="right">130816<td align="right">131328<td align="right">131328
<td align="right">130816
<tr><th align="center" class="special">20</th>
<td align="right">261632<td align="right">262656<td align="right">262144
<td align="right">262144
</table>

<h2>Examples</h2>

The two binary strings of trace 1, subtrace 0 and length 2 are $\{10, 01\}$.
The three binary strings of trace 0, subtrace 1 and length 3 are $\{ 011, 101, 110\}$.
The four binary strings of trace 1, subtrace 1 and length 4 are $\{0111, 1011, 1101, 1110\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\begin{align}
S(n;t,s) &= S(n-1;t,s) + S(n-1;t-1,s-(t-1)) \\
         &= S(n-1;t,s) + S(n-1;t+1,s+t+1).
\end{align}
Note that all operations involving operands $t$ or $s$ are carried out over $GF(2)$.

<li>
Column (0,0) is <a href="http://oeis.org/A038503">OEIS A038503</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A038505">OEIS A038505</a>.
<li>
Column (1,0) is <a href="http://oeis.org/A038504">OEIS A038504</a>.
<li>
Column (1,1) is <a href="http://oeis.org/A000749">OEIS A000749</a>.
</ul>