<h1>Ternary words with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2\ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=3$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a $k$-ary word is the sum of its digits mod $k$, i.e., $t=a_1+a_2+\cdots+a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="6">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(1,0)<br>(2,0)
<td class="special" align="center">(1,1)<br>(2,1)
<td class="special" align="center">(1,2)<br>(2,2)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">1<td align="right">0<td align="right">2
<td align="right">2<td align="right">1<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">3<td align="right">0<td align="right">6
<td align="right">3<td align="right">3<td align="right">3
<tr><th align="center" class="special">4</th>
<td align="right">9<td align="right">6<td align="right">12
<td align="right">9<td align="right">6<td align="right">12
<tr><th align="center" class="special">5</th>
<td align="right">21<td align="right">30<td align="right">30
<td align="right">30<td align="right">21<td align="right">30
<tr><th align="center" class="special">6</th>
<td align="right">63<td align="right">90<td align="right">90
<td align="right">81<td align="right">81<td align="right">81
<tr><th align="center" class="special">7</th>
<td align="right">225<td align="right">252<td align="right">252
<td align="right">225<td align="right">252<td align="right">252
<tr><th align="center" class="special">8</th>
<td align="right">729<td align="right">756<td align="right">702
<td align="right">702<td align="right">729<td align="right">756
<tr><th align="center" class="special">9</th>
<td align="right">2187<td align="right">2268<td align="right">2106
<td align="right">2187<td align="right">2187<td align="right">2187
<tr><th align="center" class="special">10</th>
<td align="right">6561<td align="right">6642<td align="right">6480
<td align="right">6561<td align="right">6642<td align="right">6480
<tr><th align="center" class="special">11</th>
<td align="right">19845<td align="right">19602<td align="right">19602
<td align="right">19602<td align="right">19845<td align="right">19602
<tr><th align="center" class="special">12</th>
<td align="right">59535<td align="right">58806<td align="right">58806
<td align="right">59049<td align="right">59049<td align="right">59049
<tr><th align="center" class="special">13</th>
<td align="right">177633<td align="right">176904<td align="right">176904
<td align="right">177633<td align="right">176904<td align="right">176904
<tr><th align="center" class="special">14</th>
<td align="right">531441<td align="right">530712<td align="right">532170
<td align="right">532170<td align="right">531441<td align="right">530712
<tr><th align="center" class="special">15</th>
<td align="right">1594323<td align="right">1592136<td align="right">1596510
<td align="right">1594323<td align="right">1594323<td align="right">1594323
<tr><th align="center" class="special">16</th>
<td align="right">4782969<td align="right">4780782<td align="right">4785156
<td align="right">4782969<td align="right">4780782<td align="right">4785156
<tr><th align="center" class="special">17</th>
<td align="right">14344533<td align="right">14351094<td align="right">14351094
<td align="right">14351094<td align="right">14344533<td align="right">14351094
<tr><th align="center" class="special">18</th>
<td align="right">43033599<td align="right">43053282<td align="right">43053282
<td align="right">43046721<td align="right">43046721<td align="right">43046721
<tr><th align="center" class="special">19</th>
<td align="right">129127041<td align="right">129146724<td align="right">129146724
<td align="right">129127041<td align="right">129146724<td align="right">129146724
<tr><th align="center" class="special">20</th>
<td align="right">387420489<td align="right">387440172<td align="right">387400806
<td align="right">387400806<td align="right">387420489<td align="right">387440172
</table>

<h2>Examples</h2> 

The one ternary string of trace 2, subtrace 1 and length 2 is $\{11\}$.
The three ternary strings of trace 0, subtrace 0 and length 3 are $\{000, 111, 222\}$.
The three ternay strings of trace 1, subtrace 2 and length 3 are $\{112, 121, 211\}$.

<h2>Enumeration (OEIS)</h2>

<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\begin{align}
S(n;t,s) &= S(n-1;t,s) + S(n-1;t-1,s-(t-1)) + S(n-1;t-2,s-2(t-2)) \\
         &= S(n-1;t,s) + S(n-1;t+2,s+2t+1) + S(n-1;t+1,s+t+1).
\end{align}

<li>
Column (0,0) is <a href="http://oeis.org/A073947">OEIS A073947</a>.
The sequence has the rational generating function $(x-1)^2 ((x-1)^3 +5x^3 ) / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
Column (0,1) is <a href="http://oeis.org/A073948">OEIS A073948</a>.
The sequence has the rational generating function $6x^4 (x-1) / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
Column (0,2) is <a href="http://oeis.org/A073949">OEIS A073949</a>.
The sequence has the rational generating function $2x^2 ((x-1)^3 +2x^3 ) / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
Column (1,0),(2,0) is <a href="http://oeis.org/A073950">OEIS A073950</a>.
The sequence has the rational generating function $-x(x-1)((x-1)^3 +2x^3 ) / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
Column (1,1),(2,1) is <a href="http://oeis.org/A073951">OEIS A073951</a>.
The sequence has the rational generating function $x^2 ((x-1)^3 - 4x^3 ) / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
Column (1,2),(2,2) is <a href="http://oeis.org/A073952">OEIS A073952</a>.
The sequence has the rational generating function $-3x^3 (x-1)^2  / (3x-1)(3x^2 +1)(3x^2 -3x+1)$.

<li>
These numbers are defined and used in a more general setting in the papers [MR04a] and [MR04b].
</ul>

<h2>References</h2>
<ul id="refs">
<li>
[MR04a] C. R. Miers and F. Ruskey. Counting strings with given elementary symmetric function evaluations. I. Strings over $Z_p$ with $p$ prime. SIAM J. Discrete Math., 17(4):675–685, 2004.
</li>
<li>
[MR04b] C. R. Miers and F. Ruskey. Counting strings with given elementary symmetric function evaluations. II. Circular strings. SIAM J. Discrete Math., 18(1):71–82, 2004.
</li>
</ul>