<table id="input">
<tr>
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="4" size="2" maxlength="2"/> (max. 20)</td>
<td>Connected</td>
<td><input type="checkbox" id="c"/></td>
</tr>
<tr>
<td>Minimum number of edges</td>
<td><input type="text" id="mine" size="2" maxlength="2"/></td>
<td>Biconnected</td>
<td><input type="checkbox" id="C"/></td>
</tr>
<tr>
<td>Maximum number of edges</td>
<td><input type="text" id="maxe" size="2" maxlength="2"/></td>
<td>Triangle-free</td>
<td><input type="checkbox" id="t"/></td>
</tr>
<tr>
<td>Minimum degree $\geq$</td>
<td><input type="text" id="mind" size="2" maxlength="2"/></td>
<td>4-cycle-free</td>
<td><input type="checkbox" id="f"/></td>
</tr>
<tr>
<td>Maximum degree $\leq$</td>
<td><input type="text" id="maxd" size="2" maxlength="2"/></td>
<td>Bipartite</td>
<td><input type="checkbox" id="b"/></td>
</tr>
<tr>
<td></td><td></td>
<td>Canonic labeling</td>
<td><input type="checkbox" id="l"/></td>
</tr>
<tr>
<td>Graph format</td>
<td>
<select id="graph" autocomplete="off">
  <option value="1">graph6</option>
  <option value="2">sparse6</option>
  <option value="3" selected>edge list</option>
  <option value="4">adjacency list</option>
  <option value="5">adjacency matrix</option>
</select>
</td><td></td><td></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1" selected>text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td><td></td><td></td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td><td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>

function run()
{
  enlarge_output();
  var inpmine = document.getElementById("mine").value;
  var inpmaxe = document.getElementById("maxe").value;
  var inpmind = document.getElementById("mind").value;
  var inpmaxd = document.getElementById("maxd").value;
  var selgraph = document.getElementById("graph");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
   	        + "&n=" + document.getElementById("n").value
            + (((inpmine.trim() == "") || isNaN(inpmine)) ? "" : "&mine=" + inpmine)
            + (((inpmaxe.trim() == "") || isNaN(inpmaxe)) ? "" : "&maxe=" + inpmaxe)
            + (((inpmind.trim() == "") || isNaN(inpmind)) ? "" : "&mind=" + inpmind)
            + (((inpmaxd.trim() == "") || isNaN(inpmaxd)) ? "" : "&maxd=" + inpmaxd)
            + "&c=" + document.getElementById("c").checked
            + "&C=" + document.getElementById("C").checked
            + "&t=" + document.getElementById("t").checked
            + "&f=" + document.getElementById("f").checked
            + "&b=" + document.getElementById("b").checked
            + "&l=" + document.getElementById("l").checked
            + "&graph=" + selgraph.options[selgraph.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>
