<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="t" autocomplete="off" onchange="tchange()">
  <option value="0" selected>triangulations</option>
  <option value="1">Eulerian triangulations</option>
  <option value="2">planar simple graphs</option>
  <option value="3">planar simple bipartite graphs</option>
  <option value="4">triangulations of a disk</option>
  <option value="5">simple quadrangulations</option>
  <option value="6">Apollonian networks</option>
</select>
</td>
</tr>
<tr>
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="8" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr id="trconn">
<td>Connectivity $\geq$</td>
<td>
<select id="c" autocomplete="off">
<option value="0">1</option>
<option value="1">1, but not 2</option>
<option value="2">2</option>
<option value="3">2, but not 3</option>
<option value="4" selected>3</option>
<option value="5">4</option>
</select>
</td>
</tr>
<tr id="trdeg">
<td>Minimum degree $\geq$</td>
<td>
<select id="m" autocomplete="off">
<option value="1">1</option>
<option value="2">2</option>
<option value="3" selected>3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</td>
</tr>
<tr id="trconndeg">
<td>Connectivity and degrees</td>
<td>
<select id="cm0" autocomplete="off">
  <option value="0" selected>3-connected</option>
  <option value="1">3-connected + min-degree 5</option>
  <option value="2">5-connected</option>
  <option value="3">4-connected + min-degree 5</option>
  <option value="4">3-connected + separating 3-cycle + min-degree 5</option>
  <option value="5">4-connected + separating 4-cycle + min-degree 5</option>
  <option value="6">3-connected + min-degree 4</option>
  <option value="7">4-connected</option>
  <option value="8">3-connected + separating 3-cycle + min-degree 4</option>
  <option value="9">2-connected + min-degree 3</option>
  <option value="10">2-connected + min-degree 3 + parallel edges</option>
  <option value="11">1-connected + min-degree 3 + no faces share more than one edge</option>
  <option value="12">1-connected + min-degree 3 + no faces share more than one edge + loop</option>
  <option value="13">1-connected + min-degree 3</option>
  <option value="14">1-connected + min-degree 3 + loop</option>
</select>
<select id="cm1" autocomplete="off">
  <option value="0" selected>3-connected</option>
  <option value="1">4-connected</option>
  <option value="2">3-connected + separating 3-cycle</option>
</select>
<select id="cm4" autocomplete="off">
  <option value="0" selected>no chords + no degree-2 vertices</option>
  <option value="1">chords allowed + no degree-2 vertices</option>
  <option value="2">chords required + not degree-2 vertices</option>
  <option value="3">chords allowed + degree-2 vertices allowed</option>
  <option value="4">chords required + degree-2 vertices allowed</option>
</select>
<select id="cm5" autocomplete="off">
  <option value="0" selected>3-connected</option>
  <option value="1">arbitrary</option>
  <option value="2">min-degree 3</option>
  <option value="3">3-connected, no non-facial 4-cycles</option>
</select>
</td>
</tr>
<tr id="trmine">
<td>Minimum number of edges</td>
<td><input type="text" id="mine" size="2" maxlength="2"/></td>
</tr>
<tr id="trmaxe">
<td>Maximum number of edges</td>
<td><input type="text" id="maxe" size="2" maxlength="2"/></td>
</tr>
<tr id="trf">
<td>Maximum face size</td>
<td><input type="text" id="f" size="2" maxlength="2"/></td>
</tr>
<tr id="trP">
<td>Outer face size</td>
<td><input type="text" id="P" size="2" maxlength="2"/></td>
</tr>
<tr id="tro">
<td>Forbid reversal</td>
<td><input type="checkbox" id="o"/></td>
</tr>
<tr>
<td>Write duals</td>
<td><input type="checkbox" id="d"/></td>
</tr>
<tr>
<td>Graph format</td>
<td>
<select id="graph" autocomplete="off" onchange="gchange()">
  <option value="1">graph6</option>
  <option value="2">sparse6</option>
  <option value="3">edge list</option>
  <option value="4" selected>adjacency list (cw)</option>
  <option value="5">adjacency matrix</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1" selected>text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td><td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function tchange()
{
  var selt = document.getElementById("t");
  var trconn = document.getElementById("trconn");
  var trdeg = document.getElementById("trdeg");
  var trconndeg = document.getElementById("trconndeg");
  var trmine = document.getElementById("trmine");
  var trmaxe = document.getElementById("trmaxe");
  var trf = document.getElementById("trf");
  var trP = document.getElementById("trP");
  var selcm0 = document.getElementById("cm0");
  var selcm1 = document.getElementById("cm1");
  var selcm4 = document.getElementById("cm4");
  var selcm5 = document.getElementById("cm5");
  var selc = document.getElementById("c");
  var selm = document.getElementById("m");

  if ((selt.selectedIndex == 0) || (selt.selectedIndex == 1) || (selt.selectedIndex == 4) || (selt.selectedIndex == 5)) {
    trconn.style.display = "none";
    trdeg.style.display = "none";
    trconndeg.style.display = "";
    selcm0.style.display = "none";
    selcm1.style.display = "none";
    selcm4.style.display = "none";
    selcm5.style.display = "none";
    if (selt.selectedIndex == 0) {
      selcm0.style.display = "";
    } else if (selt.selectedIndex == 1) {
      selcm1.style.display = "";
    } else if (selt.selectedIndex == 4) {
      selcm4.style.display = "";
    } else {
      selcm5.style.display = "";
    }
    trmine.style.display = "none";
    trmaxe.style.display = "none";
    trf.style.display = "none";
    if (selt.selectedIndex == 4) {
      trP.style.display = "";
    } else {
      trP.style.display = "none";
    }
    selc.options[5].disabled = false;
    selm.options[3].disabled = false;
    selm.options[4].disabled = false;
  } else if ((selt.selectedIndex == 2) || (selt.selectedIndex == 3)) {
    trconn.style.display = "";
    trdeg.style.display = "";
    trconndeg.style.display = "none";
    trmine.style.display = "";
    trmaxe.style.display = "";
    trf.style.display = "";
    trP.style.display = "none";
    if (selt.selectedIndex == 2) {
      selc.options[5].disabled = false;
      selm.options[3].disabled = false;
      selm.options[4].disabled = false;
    } else {
      selc.options[5].disabled = true;
      if (selc.selectedIndex >= 5) {
        selc.selectedIndex = 4;
      }
      selm.options[3].disabled = true;
      selm.options[4].disabled = true;
      if (selm.selectedIndex >= 3) {
        selm.selectedIndex = 2;
      }
    }
  } else if (selt.selectedIndex == 6) {
    trconn.style.display = "none";
    trdeg.style.display = "none";
    trconndeg.style.display = "none";
    trmine.style.display = "none";
    trmaxe.style.display = "none";
    trf.style.display = "none";
    trP.style.display = "none";
    selc.options[5].disabled = false;
    selm.options[3].disabled = false;
    selm.options[4].disabled = false;
  }
}

function gchange()
{
  var selg = document.getElementById("graph");
  var tro = document.getElementById("tro");
  if (selg.selectedIndex == 3) {
    tro.style.display = "";
  } else {
    tro.style.display = "none";
    document.getElementById("o").checked = false;
  }
}

function run()
{
  enlarge_output();
  var selt = document.getElementById("t");
  var selcm0 = document.getElementById("cm0");
  var selcm1 = document.getElementById("cm1");
  var selcm4 = document.getElementById("cm4");
  var selcm5 = document.getElementById("cm5");
  var cm = "";
  switch (selt.selectedIndex) {
    case 0: cm = "&cm=" + selcm0.selectedIndex; break;
    case 1: cm = "&cm=" + selcm1.selectedIndex; break;
    case 4: cm = "&cm=" + selcm4.selectedIndex; break;
    case 5: cm = "&cm=" + selcm5.selectedIndex; break;
  }
  var selc = document.getElementById("c");
  var selm = document.getElementById("m");
  var inpmine = document.getElementById("mine").value;
  var inpmaxe = document.getElementById("maxe").value;
  var inpf = document.getElementById("f").value;
  var c = "";
  var m = "";
  var mine = "";
  var maxe = "";
  var f = "";
  if ((selt.selectedIndex == 2) || (selt.selectedIndex == 3)) {
    c = "&c=" + selc.selectedIndex;
    m = "&m=" + selm.options[selm.selectedIndex].value;
    mine = ((inpmine.trim() == "") || isNaN(inpmine)) ? "" : "&mine=" + inpmine;
    maxe = ((inpmaxe.trim() == "") || isNaN(inpmaxe)) ? "" : "&maxe=" + inpmaxe;
    f = ((inpf.trim() == "") || isNaN(inpf)) ? "" : "&f=" + inpf;
  }
  var inpP = document.getElementById("P").value;
  var P = "";
  if (selt.selectedIndex == 4) {
    P = ((inpP.trim() == "") || isNaN(inpP)) ? "&P=0" : "&P=" + inpP;
  }
  var selgraph = document.getElementById("graph");
  var selfmt = document.getElementById("fmt");    
  var url = "gen.php?obj=<?php echo $object; ?>"
   	        + "&n=" + document.getElementById("n").value
            + "&t=" + selt.selectedIndex
            + cm + c + m + mine + maxe + f + P
            + "&o=" + document.getElementById("o").checked
            + "&d=" + document.getElementById("d").checked
            + "&graph=" + selgraph.options[selgraph.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> tchange(); gchange(); </script>